*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.linkRoute{text-decoration: none; color: white;}
.linkRoute li{list-style: none; margin:10px}
.headerUl{display: flex;}

.navDiv{width:100%; display: flex; justify-content: space-between; padding: 10px; background-color: black;}

.logo{width: 10em; height: 2em; object-fit: cover;}

@media (max-width:704px) {
.navDiv{flex-direction: column;}
}